.introduction{
    font-family: 'Roboto', sans-serif;
}

.profilepic{
    height: auto;
    width: 250px;
}

body{
    background-color: #FFD2C7;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 10px;
}

h1{
    color:brown;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

h3{
    color:brown;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}